@model IEnumerable<Garage2.ViewModels.Overview>

@{
    ViewBag.Title = "DisplayOverview";
}

<h2>DisplayOverview</h2>
@using (Html.BeginForm())
{
    <p>
        Search Owner or RegNr: @Html.TextBox("searchString") <br />
        <br/>
        Filter: @Html.DropDownList("TypeFilter", new SelectList(ViewBag.TypeList))
        <br />
        <br />
        <input id="DateinFilter" name="DateinFilter" type="checkbox" value="false" /> Apply filter over current date! [Checked = Yes]
        <br /><br />
        <input type="submit" value="Submit" /> <br />
        <br />
    </p>
}
 
<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Type", "DisplayOverview", new { sortOrder = ViewBag.TypeSortParm })
        </th>
        <th>
            @Html.ActionLink("Owner", "DisplayOverview", new { sortOrder = ViewBag.OwnSortParm })
        </th>
        <th>
            @Html.ActionLink("VehicleReg", "DisplayOverview", new { sortOrder = ViewBag.RegSortParm })
        </th>
        <th>
            @Html.ActionLink("ParkingSlotId", "DisplayOverview", new { sortOrder = ViewBag.PIDSortParm })
        </th>
        <th>
            @Html.ActionLink("DateIn", "DisplayOverview", new { sortOrder = ViewBag.DateInSortParm })
        </th>
        <th>
            @Html.ActionLink("DateOut", "DisplayOverview", new { sortOrder = ViewBag.DateOutSortParm })
        </th>
        <th>
            @Html.ActionLink("Duration", "DisplayOverview", new { sortOrder = ViewBag.DurationSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleReg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingSlotId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
    </tr>
}

</table>
