@model IEnumerable<Garage2.Models.Parking>

@{
    ViewBag.Title = "Parkings";
}

<h2>Parkings</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleReg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingSlotId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOut)
        </th>
        <th>
            Duration
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleReg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingSlotId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOut)
        </td>
        <td>
            @(item.DateOut - @item.DateIn)
        </td>
    </tr>
}

</table>
