@model IEnumerable<Garage2.Models.ParkingSlot>

@{
    ViewBag.Title = "Slots";
}

<h2>Slots</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occupied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleReg)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occupied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleReg)
        </td>
    </tr>
}

</table>
